.app.dark {
    --bg-color: #090956;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04; // цвет шрифта для акцента - заголовки, кнопки, ссылки
    --secondary-color: #049604; // обычный текст, параграфы и тд -- не акцентированно
    --inverted-primary-color: #11245b; // цвет шрифта для акцента - заголовки, кнопки, ссылки - Заголовок
    --inverted-secondary-color: #014cf6; // обычный текст, параграфы и тд. не акцентированно - описание к Заголовку
}
