:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949; // #090949
    --primary-color: #445795; // #041c65  цвет шрифта для акцента - заголовки, кнопки, ссылки - Заголовок
    --secondary-color: #0449e0; // обычный текст, параграфы и тд -- не акцентированно -- описание к Заголовку
    --inverted-primary-color: #04ff04; // цвет шрифта для акцента - заголовки, кнопки, ссылки
    --inverted-secondary-color: #049604; // обычный текст, параграфы и тд -- не акцентированно
}
